/*background-color: rgb(139, 143, 140); gray
background-color:rgb(191, 93, 2); brown
background-color: rgb(255, 255, 5); pink
backround-color: rgba(0,0,0,0.4);
/*font-family: 'Roboto Condensed', sans-serif;
<link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
font-family: 'Kite One', sans-serif;*/
*{
margin: 0px;
padding:0px;
}
body{
background: #f0f0f5;
}
#header{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: rgba(214, 170, 92, 0.48);

Width :100%;
Height :700px;
}
#title{

position: absolute;
width: 399px;
height: 139px;
left: 135px;
top: 172px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 59px;
line-height: 69px;

color: #000000;
}

#subtitle{

position: absolute;
width: 422px;
height: 85px;
left: 135px;
top: 360px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17pt;
line-height: 28px;
}
#Cv{

  position: absolute;
  width: 150px;
  height: 42px;
  left: 150px;
  right: 24px;
  top: 500px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18pt;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
background: white;
color: #D6AA5C;
}
.My-picture{
  position:absolute;
  width: 346px;
  height: 80%;
  right: 50px;
  top:20px;
background: url(pexels-wherbson-rodrigues-4673418.jpg);
}
#circle{
position: absolute;
width: 80px;
height: 80px;
left: 50%;
top: 660px;
background: black;
border-radius: 100%;
display:flex;
align-items: center;
justify-content:center;
}

#Picture{

  position: absolute;
  width: 418px;
  height: 445px;
  left: 135px;
  top: 848px;
}
#about-me{
  position: absolute;
  width: 570px;
  height: 300px;
  left: 662px;
  top: 856px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
text-align: center;
  color: #000000;
}

#about-me h3{
  color:#D6AA5C;
  width:90px;
  border-bottom: solid 10px #D6AA5C;
margin-bottom: 30px;
}
#skills{
position: absolute;
width: 1440px;
height: 613px;
left: 0px;
top: 1325px;

background: ;
}
#lineB{
  position: absolute;
  left: 10%;
  top: 16%;
  background:#D6AA5C;
  width:100px;
  height: 10px;
}
#heading{
position: absolute;
left: 10%;
top: 10%;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30pt;
line-height: 82.03%;
/* identical to box height, or 43px */

display: flex;
align-items: center;
text-align: center;
}

#sub-heading{

position: absolute;
left: 10%;
top: 20%;

Width :800px;
Height: 55px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

}
#ADOBE{

position: absolute;
left: 18%;
right: 42%;
top: 50%;
bottom: 38%;
}
.block1{
  width: 50%;
  height: 30px;
  background: white;
  border:solid #D6AA5C;
}
.block2{
  width: 40%;
  height: 30px;
  background:#D6AA5C;

}
#HTML{
  position: absolute;

  right: 23%;
  top: 50%;
  bottom: 38%;
}
.block3{
  width: 300px;
  height: 30px;
  background: #D6AA5C;
}
#CSS{

  position: absolute;
  width: 133px;
  height: 12px;
  left: 19%;
  top: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 14px;
}

.block5{
    border:solid #D6AA5C;
  width: 300px;
  height: 30px;
  background:white;
}
.block6{
  width: 90%;
  height: 30px;
  background:#D6AA5C;
}
#JAVA{

  position: absolute;
  width: 147px;
  height: 14px;
  right:30%;
  top: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 14px;
}

.block7{
  border:solid #D6AA5C;
  width: 300px;
  height: 30px;
  background:  white;
}
.block8{

  width: 10%;
  height: 30px;
  background:#D6AA5C;
}
.h3{

position: absolute;
width: 787px;
height: 43px;
left: 400px;
top: 2002px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 30pt;
line-height: 82.03%;
/* identical to box height, or 43px */

display: flex;
align-items: center;
text-align: center;
}
#about-text{
position: absolute;
Width :800px;
Height :55px;
Top :2270px;

width: 800px;
height: 55px;
left:105px ;
top: 2100px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
.picture1{

position: absolute;
width: 384px;
height: 424px;
left: 120px;
top: 2195px;
}
.picture2{
  position: absolute;
  width: 370px;
  height: 424px;
  left: 534px;
  top: 2195px;
}
.picture3{
position: absolute;
width: 414px;
height: 424px;
left: 922px;
top: 2195px;
}
#Contect{
position: absolute;
left: 3%;
right: 42.47%;
top: 3000px;
bottom: 93.55%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 82.03%;
/* identical to box height, or 43px */
display: flex;
align-items: center;
text-align: center;
}
#line-A{
  background:#D6AA5C;
  width:150px;
  height: 10px;
position: absolute;
  left: 3%;
  right: 42.47%;
  top: 3030px;
  bottom: 93.55%;
}
#Name{

position: absolute;
left: 4%;
right: 61.55%;
top: 3100px;
bottom: 80.06%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 82.03%;
/* identical to box height, or 25px */

display: flex;
align-items: center;
}
#Email{

position: absolute;
left: 4%;
right: 61.55%;
top: 3200px;
bottom: 70.01%;

font-family: Roboto;
font-style: normal;

font-size: 30px;
line-height: 82.03%;
/* identical to box height, or 25px */

display: flex;
align-items: center;
}
#address{
position: absolute;
left:4%;
right: 61.55%;
top:3300px;
bottom: 57.27%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 82.03%;
/* identical to box height, or 25px */
display: flex;
align-items: center;
}


#line{
  background:#D6AA5C;
  width:10px;
  height: 350px;
position: absolute;
left: 26.64%;
right: 53.36%;
top: 3100px;
bottom: 15.1%;

border: 3px solid #D6AA5C;
}
#blockA{
background:gray;
position: absolute;
width: 400px;
height: 50px;
right:300px;
top: 3100px;
bottom: 80.06%;
}

#blockB{
  background:gray;
  position: absolute;
  width: 400px;
  height: 50px;
  right:300px;
  top: 3200px;
  bottom: 70.01%;
}

#blockC{
  background:gray;
  position: absolute;
  width: 400px;
  height: 150px;
  right: 300px;
  top:3300px;
  bottom: 57.27%;
}
#button{

  background: #D6AA5C;
  position: absolute;
  width: 150px;
  height: 50px;
  right: 300px;
  top:3480px;
  bottom: 57.27%;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#logo{

position: absolute;
width: 126px;
height: 89px;
left: 657px;
top: 3782px;
}
